{% extends 'base.html.twig' %}

{% block title %}Accès réfusé{% endblock %}


{% block body %}
<h1 class="page_title">Oups! Accès refusé</h1>

<div class="page_404">
	<h3>403</h3>
	<h4>L'accès vous a été refusé </h4>
	<p> 
        Nous sommes desolés, vous n'avez pas les autorisations requises
        pour acceder à cette page. Mais si vous pensez que c'est une erreur
        alors veuillez  
    </p> 
    <br>
    <a href="#" class="button btn btn_blue">Contactez la CENACOM</a>
	
</div>
{% endblock %}

{% block accueil %}{% endblock %}
