{% extends 'base.html.twig' %}

{% block title %}Erreur Serveur{% endblock %}


{% block body %}
<h1 class="page_title">Oups! Erreur serveur</h1>

<div class="page_404">
	<h3>500</h3>
	<h4>Nous sommes desolés, nous avons rencontré un problème </h4>
	<p>Mais si ce problème persiste alors veuillez  </p> <br>
    <a href="#" class="button btn btn_blue">Contactez la CENACOM</a>
	
</div>
{% endblock %}

{% block accueil %}{% endblock %}
