{% extends "backend_layout.html.twig" %}

{% block title %}
    Tableau de bord (dashboard)
{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="page-title">
            <h4 class="mb-0">
                Tableau de bord (dashborad)
                <small> </small>
            </h4>
        </div>

    </div>
{% endblock %}