{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container" style="text-align: center">
            <h1>Français</h1>
            <h4><a href="{{ path('backend') }}">Espace administrateur</a></h4>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
